<div class="archives">
<nav class="archive-years">

    {% if page.type %}
        <a class="archive-year" href="/archives">All</a>
    {% else %}
        <a class="archive-year-active" href="/archives">All</a>
    {% endif %}

    {% assign pageYear = page.date | date: "%Y" %}
    {% assign pageMonth = page.date | date: "%m" %}
    {% assign currentYear = site.time | date: "%Y" %}
    {% assign currentMonth = site.time | date: "%m" %}
    {% assign testMonth = page.date | date: "%M" %}

    {% for post in site.posts %}
        {% assign postYear = post.date | date: "%Y" %}

        {% if postYear <= currentYear %}
            {% if postYear != stashYear %}

                {% if postYear == pageYear %}
                    <a class="archive-year-active" href="/archives">{{ postYear }}</a>
                {% else %}
                    <a class="archive-year" href="/archives/{{ postYear }}">{{ postYear }}</a>
                {% endif %}

                {% assign stashYear = postYear %}
            {% endif %}
        {% endif %}
    {% endfor %}

</nav>

{% if page.type %}

    <nav class="archive-months">

        {% if page.type == "year" %}
            <a class="archive-month-active"  href="/archives">All</a>
        {% else %}
            <a class="archive-month" href="/archives/{{ pageYear }}">All</a>
        {% endif %}

        {% for post in site.posts reversed %}
            {% assign postYear = post.date | date: "%Y" %}
            {% assign postMonth = post.date | date: "%m" %}

            {% if postYear == pageYear %}
                {% if postMonth != stashMonth %}
                    {% if postMonth == pageMonth %}

                        {% if page.type != "year" %}
                            <a class="archive-month-active" href="/archives">{{ post.date | date: "%b" }}</a>
                        {% else %}
                            <a class="archive-month" href="/archives/{{ postYear }}/{{ postMonth }}">{{ post.date | date: "%b" }}</a>
                        {% endif %}

                    {% else %}
                        <a class="archive-month" href="/archives/{{ postYear }}/{{ postMonth }}">{{ post.date | date: "%b" }}</a>
                    {% endif %}

                    {% assign stashMonth = postMonth %}
                {% endif %}
            {% endif %}
        {% endfor %}

    </nav>

{% endif %}

</div>
