---
layout: page
title: Archives
search_omit: true
---

<h2>{{ page.title }}</h2>

<!-- Include archive navigation -->
{% include archive-nav.html %}

<ul class="post-content">

    {% for post in page.posts %}

        <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

            <!-- Include post meta content -->
            {% include meta-post.html %}

            {{ post.excerpt | markdownify }}

            <a class="read-more" href="{{ post.url }}">Read more &raquo;</a>
        </li>

    {% endfor %}

</ul>
