---
layout: page
search_omit: true
---

<!-- Include archive navigation -->
{% include archive-nav.html %}

<ul class="post-content">

    {% for post in page.posts %}

        <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="post-meta">Posted {{ post.date | date: "%b %-d, %Y" }} by <a class="post-author" href="{{ site.baseurl }}/authors/{{ post.author }}">{{ post.author }}</a> in

                {% for tag in post.tags %}
                    <a class="post-category post-category-js" href="{{ site.baseurl }}/archive/tag/{{ tag | slugify }}">{{ tag }}</a>
                {% endfor %}

            </span>

            {{ post.excerpt }}

            <a class="read-more" href="{{ post.url }}">Read more &raquo;</a>
        </li>

    {% endfor %}

</ul>
