---
layout: page
search_omit: true
---

<header class="post-header">
    <h2>{{ page.title }}'s blog</h2>
</header>

<div class="author">
    <ul class="post-content">

        {% assign index = true %}

        {% for post in site.categories.blog %}
            {% if post.author contains page.author %}

                <li>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

                    <!-- Include post meta content -->
                    {% include meta-post.html %}

                    {{ post.excerpt | markdownify }}

                    <a class="read-more" href="{{ post.url }}">Read more &raquo;</a>
                </li>

            {% endif %}

    	  {% endfor %}

    </ul>
</div>
