---
layout: page
search_omit: true
---

<header class="post-header">
    <h2>{{ page.title }}'s blog</h2>
</header>

<div class="author">
    <ul class="post-content">

        {% assign index = true %}

        {% for post in site.categories.blog %}
            {% if post.author contains page.author %}

                <li>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <span class="post-meta">Posted {{ post.date | date: "%b %-d, %Y" }} by <a class="post-author" href="{{ site.baseurl }}/authors/{{ post.author }}">{{ post.author }}</a> in

                            {% for tag in post.tags %}
                                <a class="post-category post-category-js" href="{{ site.baseurl }}/archive/tag/{{ tag | slugify }}">{{ tag }}</a>
                            {% endfor %}

                    </span>

                    {{ post.excerpt }}

                    <a class="read-more" href="{{ post.url }}">Read more &raquo;</a>
                </li>

            {% endif %}

    	  {% endfor %}

    </ul>
</div>
