---
layout: page
---

<header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    <!-- Include page meta content -->
    {% include meta-page.html %}

    <p class="post-date">
        <span class="startdate" data-startdate="{{ page.startdate }}">Starts: {{ page.startdate | date: "<b>%A %b %-d, %Y</b> at <b>%-I:%M %P</b>" }}</span>

            {% if page.enddate %}
                <br />
                <span class="enddate" data-enddate="{{ page.enddate }}">Ends: {{ page.enddate | date: "<b>%A %b %-d, %Y</b> at <b>%-I:%M %P</b>" }}</span>
            {% endif %}

    </p>
</header>

<article class="post-content">

    {{ content }}

</article>
