---
layout: page
title: Events
category: event
search_omit: true
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ '/js/moment.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/fullcalendar.js' | prepend: site.baseurl }}"></script>

<script>
  $(document).ready(function() {
    $.getJSON('/events/feed.json', function(data){
    var eventList = [];

    $.each(data.events, function(key, val) {
      var eventItem = [];
      eventItem.title = val.title;
      eventItem.start = val.start_date;
      eventItem.end = val.end_date;
      eventItem.url = val.link;

      eventList.push(eventItem);
    });
  
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      defaultDate: moment(),
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: eventList
    });
    });
  });
</script>

<!-- JS calendar only shows up for JS-enabled browsers -->
<div id='calendar'></div>

<!-- A wrapper for all the events -->
<div class="posts" style="margin-top: 30px;">
    <div id="home maincol">
      <ul class="post-content">

        {% for post in paginator.posts %}

                <li class="event">
                <header class="post-header">
                    <h2 class="eventtitle"> <a class="post-link titleurl" href="{{ post.url }}">{{ post.title | xml_escape }}</a></h2>

                    <!-- Include post meta content -->
                    {% include meta-post.html %}

                    <p class="post-date">
                      <span class="startdate" data-startdate="{{ post.startdate }}">Starts: {{ post.startdate | date: "<b>%A %b %-d, %Y</b> at <b>%-I:%M %P</b>" }}</span>

                        {% if post.enddate %}
                            <br /> <span class="enddate" data-enddate="{{ post.enddate }}">Ends: {{ post.enddate | date: "<b>%A %b %-d, %Y</b> at <b>%-I:%M %P</b>" }}</span>
                        {% endif %}

                    </p>
                </header>
                <div class="post-description">

                  {{ post.content }}

                </div>
              </li>

        {% endfor %}

        </ul>
    </div>
</div>

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}

        <div class="pagination">
            <a href="{{ '/events/' | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newest</a>
            &nbsp;

            {% if paginator.previous_page %}
    	           <a href="/events{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            {% else %}
    	           <span>&laquo; Prev</span>
            {% endif %}

            &nbsp;

            <!-- Pagination vars -->
            {% assign pageLimit = 11 %}
            {% assign pageOffset = 5 %}
            {% assign lastPage = paginator.total_pages | minus: pageLimit %}

            {% if paginator.total_pages <= pageLimit %}
                {% assign pageOffsetLimit = 1 %}

            {% elsif paginator.page == 1 %}
            	  {% assign pageOffsetLimit = paginator.page %}

            {% elsif paginator.page <= pageOffset %}
            	  {% assign firstPageLimit = paginator.page | minus: 1 %}
            	  {% assign pageOffsetLimit = paginator.page | minus: firstPageLimit %}

            {% elsif paginator.page > lastPage %}
            	  {% assign lastPageLimit = paginator.total_pages | minus: pageLimit %}
            	  {% assign pageOffsetLimit = lastPageLimit | plus: 1 %}

            {% else %}
            	  {% assign pageOffsetLimit = paginator.page | minus: pageOffset %}
            {% endif %}

            {% for page in (pageOffsetLimit..paginator.total_pages) limit: pageLimit %}

              	{% if page == paginator.page %}
              	   {{ page }}

              	{% elsif page == 1 %}
              	   <a href="{{ '/events/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>

              	{% else %}
              	   <a href="/events/{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
              	{% endif %}

            {% endfor %}

            &nbsp;

            {% if paginator.next_page %}
    	           <a href="/events{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            {% else %}
    	           <span>Next &raquo;</span>
            {% endif %}

            &nbsp;
            <a href="/events/{{ site.paginate_path  | replace: '//', '/' | replace: ':num', paginator.total_pages }}">Oldest &raquo;</a>
        </div>

    {% endif %}