---
layout: page
title: Events
search_omit: true
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/moment.js"></script>
<script src="{{ site.baseurl }}/js/fullcalendar.js"></script>

<script>
  $(document).ready(function() {

    var eventList = [];

    $('.event').each(function() {
      var eventItem = {};

      eventItem.title = $(this).find('.eventtitle').text();
      eventItem.start = $(this).find('.startdate').data('startdate');
      eventItem.end = $(this).find('.enddate').data('enddate');
      eventItem.url = $(this).find('.titleurl')[0].href;

      eventList.push(eventItem);
    });

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      defaultDate: moment(),
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: eventList
    });
  });
</script>

<!-- JS calendar only shows up for JS-enabled browsers -->
<div id='calendar'></div>

<!-- A wrapper for all the events -->
<div class="posts" style="margin-top: 30px;">
    <div id="home maincol">
      <ul class="post-content">

        {% for post in site.categories.event %}

                <li class="event">
                <header class="post-header">
                    <h2 class="eventtitle"> <a class="post-link titleurl" href="{{ post.url }}">{{ post.title | xml_escape }}</a></h2>
                    <span class="post-meta">Posted {{ post.date | date: "%b %-d, %Y" }} by <a class="post-author" href="{{ site.baseurl }}/authors/{{ post.author }}">{{ post.author }}</a>

                        {% unless post.tags[0] == NULL %}
                            in

                            {% for tag in post.tags %}

                            {% if tag == post.tags.last %}
                            {% unless tag == post.tags[0] %} and {% endunless %}
                            {% endif %}

                            <a class="post-category post-category-js" href="{{ site.baseurl }}/archives/tag/{{ tag | slugify }}">{{ tag }}</a>{% unless tag == post.tags.last %},{% endunless %}

                            {% endfor %}

                        {% endunless %}

                    </span>
                    <p class="post-date">
                      <span class="startdate" data-startdate="{{ post.startdate }}">Starts: {{ post.startdate | date: "<b>%A %b %-d, %Y</b> at <b>%-I:%M %P</b>" }}</span>

                        {% if post.enddate %}
                            <br /> <span class="enddate" data-enddate="{{ post.enddate }}">Ends: {{ post.enddate | date: "<b>%A %b %-d, %Y</b> at <b>%-I:%M %P</b>" }}</span>
                        {% endif %}

                    </p>
                </header>
                <div class="post-description">

                  {{ post.content }}

                </div>
              </li>

        {% endfor %}

        </ul>
    </div>
</div>
