---
layout: page
title: Events
search_omit: true
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/moment.js"></script>
<script src="{{ site.baseurl }}/js/fullcalendar.js"></script>

<script>
  $(document).ready(function() {

    var eventList = [];

    $('.event').each(function() {
      var eventItem = {};

      eventItem.title = $(this).find('.eventtitle').text();
      eventItem.start = $(this).find('.startdate').data('startdate');
      eventItem.end = $(this).find('.enddate').data('enddate');
      eventItem.url = $(this).find('.titleurl')[0].href;

      eventList.push(eventItem);
    });

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      defaultDate: moment().format('YYYY-M-D'),
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: eventList
    });
  });
</script>

<!-- JS calendar only shows up for JS-enabled browsers -->
<div id='calendar'></div>

<!-- A wrapper for all the events -->
<div class="posts" style="margin-top: 30px;">
    <div id="home maincol">
      <ul class="post-content">

        {% for post in site.categories.event %}

                <li class="event">
                <header class="post-header">
                    <h2 class="eventtitle"> <a class="post-link titleurl" href="{{ post.url }}">{{ post.title | xml_escape }}</a></h2>
                    <p class="post-meta">
                        <span class="startdate" data-startdate="{{ post.startdate }}">{{ post.startdate | date: "%-d %B %Y" }}</span>

                        {% if post.enddate %}
                            to <span class="enddate" data-enddate="{{ post.enddate }}">{{ post.enddate | date: "%-d %B %Y" }}</span>
                        {% endif %}

                    </p>
                </header>
                <div class="post-description">

                  {{ post.content }}

                </div>
              </li>

        {% endfor %}

        </ul>
    </div>
</div>
